# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Benchmark results
scripts/benchmark/results/
scripts/benchmark/certs/

# Added by cargo

/target
